[probe]
pin: ^PC2 
#z_offset: 4.3
z_offset: 4.2
#z_offset: 0
x_offset: 4
y_offset: 21
speed: 5.0
lift_speed: 15.0
sample_retract_dist: 1
samples: 4
samples_tolerance: 0.005
samples_result: average
samples_tolerance_retries: 99
  
[bed_mesh]
speed: 300
horizontal_move_z: 7
mesh_min: 8,30
mesh_max: 223,201
probe_count: 5,5
adaptive_margin: 5
zero_reference_position: 125, 110
algorithm: bicubic
fade_start: 1
fade_end: 3
split_delta_z: 0.01
move_check_distance: 3
mesh_pps: 0,0
bicubic_tension: .2

#####################################################################
# KlackEnder- Macros
#####################################################################

[gcode_macro PROBE_OUT]
gcode:
  {% if printer.probe.last_query %}
    G90
    G1 X245 F4000
    G4 P300
    G1 X220
  {% endif %}

[gcode_macro PROBE_IN]
gcode:
  G90
  G1 Z20
  G1 X245 F20000
  G1 Y0
  G1 Z1
  G4 P300
  G1 X220 F6000
  G1 Z10

[homing_override]
axes: z
set_position_z:0 # Make printer think Z axis is at zero, so we can force a move upwards away from build plate
gcode:
  {% set DOCK = 'P' not in params %}
  G90
  G1 Z10 F3000 ; move up to prevent accidentally scratching build plate    
  {% if "x" not in (printer.toolhead.homed_axes | lower) %}
    G28 X
  {% endif %}
  {% if "y" not in (printer.toolhead.homed_axes | lower) %}
    G28 Y        #Will only home XY if they are not currently homed
  {% endif %}
  QUERY_PROBE
  PROBE_OUT
  G1 X117 Y117 F6000
  G28 Z
  G0 Z10
  {% if DOCK %}
    PROBE_IN
  {% endif %}

[gcode_macro G29]
gcode:
  BED_MESH_CLEAR
  BED_MESH_CALIBRATE
  BED_MESH_OUTPUT

[gcode_macro PROBE_CALIBRATE]
rename_existing: _PROBE_CALIBRATE
gcode:
  {% if not 'xyz' in printer.toolhead.homed_axes %}
    G28
  {% endif %}
  QUERY_PROBE
  PROBE_OUT
  G90
  G1 Z20
  G1 X115 Y115 F20000
  _PROBE_CALIBRATE
  TESTZ Z=20
  M117 Remove the Klack to continue calibration!
    
[gcode_macro PROBE_ACCURACY]
rename_existing: _PROBE_ACCURACY
gcode:
  {% if not 'xyz' in printer.toolhead.homed_axes %}
    G28
  {% endif %}
  QUERY_PROBE
  PROBE_OUT
  G90
  G1 Y115 X115 F20000
  _PROBE_ACCURACY
  PROBE_IN

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: _BED_MESH_CALIBRATE
gcode:
  QUERY_PROBE
  PROBE_OUT
  _BED_MESH_CALIBRATE {rawparams}
  PROBE_IN